/**
 * .gg-card
 * .gg-cards
 */




.gg-card {
  display: flex;
  flex-direction: column;
  width: gg-sub(50%, gg-size(margin) * 2);
  margin: gg-size(margin);
  border-radius: gg-size(border-radius);
  @extend %gg-shadow-low;

  @include gg-transition('box-shadow');

  &:hover {
    @extend %gg-shadow-high;
  }

  .gg-card-media {
    width: 100%;
    padding-bottom: 56.25%; // 16:9
    background-color: $gg-color-muted; // DEV
  }

  .gg-card-headline {
    margin: 0;
    padding: gg-size(padding);

    .gg-card-title {
      margin: 0;
      padding-top: gg-size(margin);
      @include gg-font($gg-font-family, headline, 400, body-2);
    }
    .gg-card-subtitle {
      margin: 0;
      padding-top: gg-font-size(headline) / 3;
      color: $gg-color-muted;
      @include gg-font($gg-font-family, body-device, 400, body-1);
    }
  }

  .gg-card-text {
    padding: gg-size(padding);
    padding-top: 0;
    @extend %gg-font-body-1-device;
    &:last-child {
      padding-top: gg-size(padding);
      padding-bottom: gg-size(padding) + gg-size(margin);
    }
  }

  .gg-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    border-top: 1px solid gg-color(md-gray-200);

    .gg-card-action-buttons {
      flex-grow: 1;
    }
    .gg-card-action-icons {
      font-size: gg-font-size(title);
    }

    .gg-button-flat,
    .gg-icon-flat {
      color: $gg-color-link;
      &:hover {
        color: $gg-color-link;
      }
      &:active, &:focus {
        color: $gg-color-link-hover;
      }
    }
    .gg-icon-flat {
      width: gg-size(button-height);
      height: gg-size(button-height);
      margin: gg-size(margin);
      line-height: gg-size(button-height);
    }
  }

}




.gg-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px; // DEV
  max-width: 100%; // DEV
  margin: 0 auto;
}
