.gg-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}




.gg-drawer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: z(raised);
  overflow: visible;
  overflow-y: auto;

  width: size(drawer-width);
  height: 100vh;
  max-height: 100vh;
  padding: size(padding);

  border-right: 1px solid color(gray-lighter);
  background: $body-bg;
  @extend .shadow-low;

  transform: translateX(- size(drawer-width) - 10rem);
  transform-style: preserve-3d;
  will-change: transform;

  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

  &.open {
    transform: translateX(0);
  }

}
