/**
 * .gg-layout
 */




.gg-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;

  /* FOR TESTING PURPOSES ONLY */
  height: 200vh;
}
