/**
 * .gg-obfuscator
 * body.is-obfuscated
 */




.gg-obfuscator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: gg-z(raised) - 1;
  visibility: hidden;

  background-color: transparent;

  @include gg-transition();
  transition-property: visibility, background-color;

  &.is-visible {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
  }

}



body.is-obfuscated {
  overflow: hidden;
}
