html {
  box-sizing: border-box;
  font-size: $gg-font-size-root;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@at-root {
  @viewport {
    width: device-width;
  }
}

body {
  background-color: $gg-color-body-background;
  color: $gg-color-text;
  @extend %gg-font-body-1-device;

}

a {
  text-decoration: none;
}
