// Metrics

$sizes: (
  margin:                     8px,
  padding:                    16px,
  border-radius:              2px,
  title-left-padding:         72px,
  drawer-width:               240px,
  icon:                       48px,
  header-height-landscape:    48px,
  header-height-portrait:     56px,
  header-height-desktop:      64px
);

@function gg-size ($index) {
  @return map-get($sizes, $index);
}
@function gg-sub ($param1, $param2) {
  @return calc(#{$param1} - #{$param2});
}




// Z Index

$z-indexes: (
  raised:                     5,
  popup:                      100,
  modal:                      500
);

@function gg-z ($index) {
  @return map-get($z-indexes, $index);
}




// Colors

$grayscale: (
  black:                      #000000,
  gray-dark:                  #7f8c8d,
  gray:                       #95a5a6,
  gray-light:                 #bdc3c7,
  gray-lighter:               #ecf0f1,
  white:                      #ffffff
);

$colors: (
  primary:                    #2980b9,
  success:                    #2ecc71,
  info:                       #3498db,
  warning:                    #f39c12,
  danger:                     #e74c3c,

  gg-sky:                     #7ebbe7,
  gg-aqua:                    #2f9b96,
  gg-orange:                  #ff5b09,
  gg-orange-light:            #f9a704,

  md-deep-orange:             #ff5722,
  md-orange:                  #ff9800,
  md-teal:                    #009688,
  md-blue:                    #2196f3,
  md-green:                   #4caf50,

  md-gray-200:                #eeeeee,
  md-gray-600:                #757575,
  md-gray-800:                #424242
);

@function gg-color($color) {
  @if map-has-key($colors, $color) {
    @return map-get($colors, $color);
  }
  @else if map-has-key($grayscale, $color) {
    @return map-get($grayscale, $color);
  }
}

$body-bg:                     gg-color(white);
$body-color:                  gg-color(black);

$link-color:                  gg-color(primary);
$link-hover-color:            darken($link-color, 15%);
