// Metrics

$sizes: (
  padding:                    16px,
  title-left-padding:         72px,
  drawer-width:               240px,
  icon:                       48px
);

@function size($index) {
  @return map-get($sizes, $index);
}




// Z Index

$z-indexes: (
  raised:                     5,
  popup:                      100,
  modal:                      500
);

@function z($index) {
  @return map-get($z-indexes, $index);
}




// Colors

$grayscale: (
  black:                      #000000,
  gray-dark:                  #7f8c8d,
  gray:                       #95a5a6,
  gray-light:                 #bdc3c7,
  gray-lighter:               #ecf0f1,
  white:                      #ffffff
);

$colors: (
  primary:                    #2980b9,
  success:                    #2ecc71,
  info:                       #3498db,
  warning:                    #f39c12,
  danger:                     #e74c3c,

  gg-sky:                     #7ebbe7,
  gg-aqua:                    #2f9b96,
  gg-orange:                  #ff5b09,
  gg-orange-light:            #f9a704
);

@function color($color) {
  @if map-has-key($colors, $color) {
    @return map-get($colors, $color);
  }
  @else if map-has-key($grayscale, $color) {
    @return map-get($grayscale, $color);
  }
}

$body-bg:                     color(white);
$body-color:                  color(black);

$link-color:                  color(primary);
$link-hover-color:            darken($link-color, 15%);




// Typography

$font-families: (
  sans-serif:                 sans-serif,
  serif:                      serif,
  monospace:                  monospace
);

@function font-family($family) {
  @return map-get($font-families, $family);
}

$font-family-base:            font-family(sans-serif);


$font-size-root:              62.5%;

$font-sizes: (
  base:                       1.6rem,
  xs:                         1.2rem,
  sm:                         1.4rem,
  lg:                         2.0rem,
  xl:                         2.4rem,

  h1:                         4.0rem,
  h2:                         3.2rem,
  h3:                         2.8rem,
  h4:                         2.4rem,
  h5:                         2.0rem,
  h6:                         1.6rem
);

@function font-size($size) {
  @return map-get($font-sizes, $size);
}


$line-height:                 1.5;

$headings-margin-bottom:      0.5rem;
$headings-font-weight:        700;
$headings-line-height:        1.1;

$text-muted:                  color(gray-light);
