{
  "env" : {
    "browser" : true,
    "node" : true,
    "es6" : true
  },
  "ecmaFeatures" : {
    "modules" : true
  },
  "rules" : {
    "prefer-const" : 2,
    "no-const-assign" : 2,
    "no-var" : 2,
    "no-new-object" : 2,
    "object-shorthand" : 2,
    "quote-props" : [2, "as-needed"],
    "no-array-constructor" : 2,
    "quotes" : [2, "single"],
    "prefer-template" : 2,
    "no-loop-func" : 2,
    "no-param-reassign" : [2, { "props" : true }],
    "prefer-arrow-callback" : 2,
    "arrow-spacing" : 2,
    "arrow-parens" : [2, "as-needed"],
    "arrow-body-style" : [2, "as-needed"],
    "no-iterator" : 2,
    "dot-notation" : 2,
    "one-var" : [2, "never"],
    "eqeqeq" : 2,
    "no-case-declarations" : 2,
    "no-nested-ternary" : 2,
    "no-unneeded-ternary" : 2,
    "brace-style" : 2,
    "indent" : [2, 2, { "SwitchCase" : 1 }],
    "space-before-blocks" : 2,
    "space-after-keywords" : 2,
    "space-before-keywords" : 2,
    "space-infix-ops" : 2,
    "padded-blocks" : [2, "never"],
    "space-in-parens" : [2, "never"],
    "array-bracket-spacing" : [2, "never"],
    "object-curly-spacing" : [2, "always"],
    "max-len" : [2, 100, 2],
    "comma-style" : 2,
    "comma-dangle" : [2, "always-multiline"],
    "semi" : 2,
    "radix" : 2,
    "camelcase" : 2,
    "new-cap" : 2,
    "no-underscore-dangle" : 2
  }

}
