<div class="gg-comment" id="comment-{{ comment.ID }}">
  <div class="gg-comment-author">
    {{ comment.author.name }}
  </div>
  <div class="gg-comment-body">
    {{ comment.comment_content|wpautop }}
  </div>
</div>
