<aside class="gg-drawer">
  <ul>
    <li>
      <a href="#">
        <span class="gg-icon-facebook"></span>
        <span>Facebook</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="gg-icon-twitter"></span>
        <span>Twitter</span>
      </a>
    </li>
  </ul>
</aside>
