{% extends 'base.twig' %}

{% block content %}
  <!-- START CARDS -->
  <section class="gg-cards" id="masonry">

    {% for post in posts %}
      {% include 'article-card/card.twig' %}
    {% endfor %}

  </section>
  <!-- END CARDS -->
{% endblock %}
