html {
  box-sizing: border-box;
  font-size: $gg-font-size-root;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@at-root {
  @viewport {
    width: device-width;
  }
}

body {
  //overflow-y: scroll;
  background-color: $gg-color-background;
  color: $gg-color-text;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder { line-height: normal; }




#wpadminbar {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
