/**
 * %gg-link
 * %gg-shadow-low
 * %gg-shadow-high
 * @mixin gg-transition
 * @mixin gg-menu-list
 * .gg-user-info
 */




%gg-link {
  color: $gg-color-link;
  &:hover {
    color: $gg-color-link;
  }
  &:active, &:focus {
    color: $gg-color-link-hover;
  }
}




%gg-shadow-low {
  box-shadow: 0 0.15em 0.3em 0 rgba(gg-color(black), 0.16),
              0 0.15em 0.6em 0 rgba(gg-color(black), 0.12);
}
%gg-shadow-high {
  box-shadow: 0 0.3em 0.8em 0 rgba(gg-color(black), 0.18),
              0 0.25em 1em 0 rgba(gg-color(black), 0.15);
}




@mixin gg-transition ($properties, $duration : 0.2s) {
  transition-property: #{$properties};
  will-change: #{$properties};
  transition-duration: $duration;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}




@mixin gg-menu-list ($list-padding: 8px 0, $icon-position : right) {
  ul {
    width: 100%;
    margin: 0;
    padding: $list-padding;
    list-style: none;

    @extend %gg-font-body-2-device;

    &:not(:last-of-type) {
      border-bottom: 1px solid gg-color(md-gray-200);
    }

    li {
      display: block;
      margin: 0;
      padding: 0;
    }
    a {
      display: flex;
      width: 100%;
      padding: 0 16px;
      color: gg-color(md-gray-800);
      line-height: 4.8rem;
      &:hover {
        color: gg-color(md-gray-800);
      }
      &:active, &:focus {
        color: $gg-color-text;
      }

      span {
        line-height: 4.8rem;
      }

      @if $icon-position == 'right' {
        span:first-child {
          flex-grow: 1;
        }
        span:last-child {
          padding-left: 16px;
        }
      }
      @else {
        span:first-child {
          width: 56px;
        }
        span:last-child {
          flex-grow: 1;
        }
      }
    }
  }
}




.gg-user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: gg-size(padding);
  .gg-user-image {
    display: block;
    flex-grow: 0;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .gg-user-name {
    flex-grow: 1;
    padding-left: gg-size(padding);
    a {
      display: block;
      @extend %gg-font-body-2-device;
      font-weight: gg-font-weight(bold);
      color: $gg-color-link;
      line-height: gg-line-height(body-1);
      &:hover {
        color: $gg-color-link-hover;
      }
    }
    span {
      display: block;
      @extend %gg-font-caption;
      color: $gg-color-muted;
    }
  }
}
