// Metrics

$gg-sizes: (
  margin:                     8px,
  padding:                    16px,
  border-radius:              2px,
  title-left-padding:         72px,
  drawer-width:               240px,
  icon:                       48px,
  header-height-landscape:    48px,
  header-height-portrait:     56px,
  header-height-desktop:      64px,
  button-width:               64px,
  button-height:              36px,
  badge:                      20px,
  article-body:               716px,
  article-info-height:        74px
);

@function gg-size ($index) {
  @return map-get($gg-sizes, $index);
}




$gg-breakpoints: (
  xsmall:                     600px,
  small:                      960px,
  medium:                     1280px,
  large:                      1600px
);

@mixin gg-breakpoint($breakpoint) {
  @if $breakpoint == base {
    @media (max-width: #{map-get($gg-breakpoints, xsmall)}) {
      @content;
    }
  }
  @else {
    @media (min-width: #{map-get($gg-breakpoints, $breakpoint)}) {
      @content;
    }
  }
}




// Z Index

$gg-z-indexes: (
  raised:                     5,
  obfuscator:                 9,
  drawer:                     10,
  popup:                      100,
  modal:                      500
);

@function gg-z ($index) {
  @return map-get($gg-z-indexes, $index);
}




// Colors

$gg-colors-grayscale: (
  black:                      #000000,
  gray-dark:                  #7f8c8d,
  gray:                       #95a5a6,
  gray-light:                 #bdc3c7,
  gray-lighter:               #ecf0f1,
  white:                      #ffffff
);

$gg-colors: (
  gg-sky:                     #7ebbe7,
  gg-aqua:                    #2f9b96,
  gg-orange:                  #ff5b09,
  gg-orange-light:            #f9a704,

  md-deep-orange:             #ff5722,
  md-orange:                  #ff9800,
  md-teal:                    #009688,
  md-blue:                    #2196f3,
  md-green:                   #4caf50,

  md-gray-200:                #eeeeee,
  md-gray-500:                #9e9e9e,
  md-gray-600:                #757575,
  md-gray-800:                #424242
);

@function gg-color($color) {
  @if map-has-key($gg-colors, $color) {
    @return map-get($gg-colors, $color);
  }
  @else if map-has-key($gg-colors-grayscale, $color) {
    @return map-get($gg-colors-grayscale, $color);
  }
}

$gg-color-primary:            gg-color(md-deep-orange);
$gg-color-body-background:    gg-color(white);

$gg-color-border-light:      gg-color(md-gray-200);

$gg-color-text:               rgba(gg-color(black), 0.87); //gg-color(md-gray-800);
$gg-color-text-light:         gg-color(white);
$gg-color-secondary-text:     rgba(gg-color(black), 0.54);
$gg-color-secondary-text-light: rgba(gg-color(white), 0.7);
$gg-color-muted:              rgba(gg-color(black), 0.38); //gg-color(md-gray-500);
$gg-color-muted-light:        rgba(gg-color(white), 0.3);
$gg-color-link:               gg-color(md-deep-orange);
$gg-color-link-hover:         gg-color(md-orange);

$link-color:                  gg-color(md-deep-orange);
$link-hover-color:            darken($link-color, 15%);
