.gg-comments {
  h2 {
    margin: 0;
    padding: $gg-size-edge $gg-size-padding 0 $gg-size-padding;
    @extend %gg-font-subheading;
    font-weight: gg-font-weight('medium');
  }
}

.gg-comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  .gg-user-image {
    flex-grow: 0;
    padding: $gg-size-padding;
    @extend %gg-user-image;
  }

  .gg-comment-content {
    width: 100%;
    padding: $gg-size-padding $gg-size-padding $gg-size-padding 0;
    border-bottom: 1px solid $gg-color-border;

    .gg-comment-meta {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .gg-user-link {
        display: inline-block;
        @extend %gg-font-body2;
        line-height: gg-line-height(body-1);
        @extend %gg-link;
      }

      .gg-comment-meta-info {
        display: block;
        @extend %gg-font-caption;
        color: $gg-color-text-muted;
      }
    }

    .gg-comment-body {
      @extend %gg-font-body1;
      > :first-child {
        margin-top: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }
  }
}

.gg-respond {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: $gg-size-padding;

  .gg-comment-input,
  .gg-comment-textarea {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    margin: 0;
    padding: $gg-size-padding 0;

    label {
      position: absolute;
      top: $gg-size-edge + 2px;
      display: block;
      @extend %gg-font-subheading;
      color: $gg-color-text-muted;
      line-height: 1;
      pointer-events: none;
      @include gg-transition('top, color, font-size');
    }

    &.is-dirty label {
      top: $gg-size-padding - 12px;
      @extend %gg-font-caption;
      color: $gg-color-link-hover;
      .required {
        color: gg-color('md-red');
      }
    }

    input,
    textarea {
      width: 100%;
      padding: $gg-size-margin 0;
      border: none;
      border-bottom: 1px solid $gg-color-border;
      outline: none;
      @extend %gg-font-subheading;
      line-height: 1;
      @include gg-transition('border-bottom-color');
      &:focus {
        padding-bottom: $gg-size-margin - 1px;
        border-bottom: 2px solid $gg-color-link-hover;
      }
    }

    textarea {
      height: 81px;
    }

    &.is-invalid input,
    &.is-invalid textarea {
      padding-bottom: $gg-size-margin - 1px;
      border-bottom: 2px solid gg-color('md-red');
    }
  }

  @include gg-breakpoint('xsmall') {
    .gg-comment-input {
      width: 50%;
      &:nth-child(odd) {
        padding-right: $gg-size-margin;
      }
      &:nth-child(even) {
        padding-left: $gg-size-margin;
      }
    }
  }

  .gg-comment-submit {
    width: 100%;
    margin: 0;
    margin-left: - $gg-size-margin;
    padding-top: $gg-size-margin;
    .gg-button-raised {
      border: none;
      outline: none;
    }
  }
}
