.gg-obfuscator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: gg-z('obfuscator');
  visibility: hidden;
  background-color: transparent;
  @include gg-transition('visibility, background-color');

  &.is-visible {
    background-color: fade('md-black', 0.5);
    visibility: visible;
  }
}

body.is-obfuscated {
  overflow: hidden;
  
  @include gg-breakpoint('medium') {
    overflow: auto;
  }
}
