/**
 * .gg-article
 * .gg-article-header
 * .gg-article-container
 * .gg-article-info
 * .gg-article-author
 * .gg-article-actions
 * .gg-article-body
 * .gg-article-footer
 * .gg-article-social
 * .gg-list-categories
 * .gg-list-tags
 * .gg-comments
 */




.gg-article {
  width: 100%;
}




.gg-article-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  min-height: 50vh; // DEV
  z-index: -1;
  padding: gg-size(article-info-height) gg-size(margin);
  background-color: $gg-color-muted;
  @extend %gg-shadow-low;
  text-align: center;

  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  hgroup {
    padding-bottom: gg-size(article-info-height) - gg-size(header-height-portrait);
  }

  h1 {
    margin: 0;
    @extend %gg-font-display-2;
  }
  h2 {
    margin: 0;
    @extend %gg-font-title;
  }
}




.gg-article-container {
  z-index: 1;
  width: calc(100% - #{gg-size(padding)});
  max-width: gg-size(article-body) - gg-size(padding);
  margin: - gg-size(article-info-height) auto gg-size(margin) auto;
  border-radius: gg-size(border-radius);
  background: $gg-color-body-background;
  @extend %gg-shadow-high;
}




.gg-article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid $gg-color-border-light;

  .gg-article-author {
    flex-grow: 1;
  }

  .gg-article-actions {
    flex-grow: 0;
    padding: (gg-size(margin) + (gg-size(margin)/4)) gg-size(margin);
    text-align: right;
    .gg-button-flat,
    .gg-icon-flat {
      @extend %gg-link;
    }
    .gg-button-flat .fa {
      font-size: gg-font-size(subheading-device);
    }
    .gg-icon-flat {
      margin-top: 0;
      margin-bottom: 0;
      font-size: gg-font-size(title);
    }
  }
}




.gg-article-body {
  padding: gg-size(padding);
  @extend %gg-font-body-2-device;
  font-weight: gg-font-weight(regular);

  > :first-child {
    margin-top: gg-size(margin);
  }
  > :last-child {
    margin-bottom: gg-size(margin);
  }
}




.gg-article-footer {
  border-top: 1px solid $gg-color-border-light;

  > * {
    border-bottom: 1px solid $gg-color-border-light;
  }

  .gg-article-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    & > *:first-child {
      flex-grow: 1;
      text-align: left;
    }
    & > *:last-child {
      text-align: right;
    }
  }

  .gg-article-archive {
    display: flex;
    flex-direction: row;
    .gg-list-categories {
      flex-grow: 1;
      @include gg-menu-list();
      border-right: 1px solid $gg-color-border-light;
      ul li a {
        @extend %gg-link;
      }
    }
    .gg-list-tags {
      flex-grow: 1;
      padding: gg-size(padding) - gg-size(chip-padding);
    }
  }

  .gg-button-flat,
  .gg-chip-flat {
    @extend %gg-link;
  }
  .gg-icon-flat {
    width: gg-size(button-height);
    height: gg-size(button-height);
    margin: gg-size(margin);
    line-height: gg-size(button-height);
    font-size: gg-font-size(title);
  }
}
