/**
 * %gg-button
 * %gg-icon
 * .gg-button-flat
 * .gg-icon-flat
 */




%gg-button {
  display: inline-block;
  min-width: gg-size(button-width);
  height: gg-size(button-height);
  margin: gg-size(margin);
  padding: 0 gg-size(margin);
  border-radius: gg-size(border-radius);
  @extend %gg-font-button;
  line-height: gg-size(button-height);
  text-align: center;
  @include gg-transition('background-color');
  cursor: pointer;
}




.gg-button-flat {
  @extend %gg-button;
  &:hover {
    background-color: rgba(gg-color(md-gray-500), 0.2);
  }
}
