/**
 * .gg-cards
 * %gg-card
 * %gg-card-light
 * .gg-card-big
 * .gg-card-small
 * .gg-card-image
 *
 * .gg-card-media
 * .gg-card-content
 * .gg-card-headline
 * .gg-card-title
 * .gg-card-subtitle
 * .gg-card-payoff
 * .gg-card-actions
 * .gg-card-action-icons
 * .gg-card-action-buttons
 */




.gg-cards {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;*/
  position: relative;
  width: calc(100% - #{gg-size(margin)});
  max-width: calc(100% - #{gg-size(margin)});
  margin: 0 0 0 gg-size(margin);
  padding-top: gg-size(header-height-portrait) * 1.5;

  @include gg-breakpoint(xsmall) {
    width: calc(100% - #{gg-size(padding)});
    max-width: calc(100% - #{gg-size(padding)});
    margin: 0 0 0 gg-size(padding);
  }
}




%gg-card {
  float: left;
  display: flex;
  align-content: flex-start;
  opacity: 0;
  border-radius: gg-size(border-radius);
  background: $gg-color-body-background;
  @extend %gg-shadow-low;
  @include gg-transition('box-shadow, opacity');

  &:hover {
    @extend %gg-shadow-high;
  }

  &.is-visible {
    opacity: 1;
  }

  @include gg-breakpoint(base) {
    width: calc(100% - #{gg-size(margin)});
    margin: 4px 0;
  }
  @include gg-breakpoint(xsmall) {
    width: calc(50% - #{gg-size(padding)});
    margin: gg-size(margin) 0;
  }
  @include gg-breakpoint(small) {
    width: calc(33.333% - #{gg-size(padding)});
  }

  .gg-card-media {
    position: relative;
    display: block;
    background-color: $gg-color-muted;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gg-card-headline {
    margin: 0;

    .gg-card-title {
      margin: 0;
      padding-top: gg-size(margin);
      @include gg-font($gg-font-family, headline, regular, body-2);

      .gg-card-payoff {
        display: block;
        font-size: gg-font-size(subheading-device);
        font-style: italic;
      }
    }
    .gg-card-subtitle {
      margin: 0;
      padding-top: gg-font-size(headline) / 3;
      @include gg-font($gg-font-family, body-device, regular, body-1);
    }
  }

  .gg-card-text {
    @extend %gg-font-body-1-device;
    padding-bottom: gg-size(padding) / 2;
    /*&:last-child {
      padding-top: gg-size(padding);
      padding-bottom: gg-size(padding) + gg-size(margin);
    }*/
  }

  .gg-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    & > *:first-child {
      flex-grow: 1;
      text-align: left;
    }
    & > *:last-child {
      text-align: right;
    }

    .gg-card-action-buttons {
      .fa {
        margin-right: gg-size(margin) / 2;
        font-size: gg-font-size(subheading-device);
      }
    }
    .gg-card-action-icons {
      font-size: gg-font-size(title);
    }
  }

  .gg-card-addon {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    @extend %gg-shadow-high;
    background: $gg-color-body-background;
    @include gg-transition('max-height');

    &.is-visible {
      max-height: 500px;
    }

    .gg-card-addon-list {
      @include gg-menu-list($icon-position : left);
    }
  }

}

%gg-card-light {
  @extend %gg-card;

  .gg-card-content {
    padding: gg-size(padding);
  }

  .gg-card-headline {
    padding-bottom: gg-size(padding);
    .gg-card-payoff {
      color: $gg-color-muted;
    }
    .gg-card-subtitle {
      color: $gg-color-secondary-text;
    }
  }

  .gg-card-actions {
    border-top: 1px solid $gg-color-border-light;
    .gg-button-flat,
    .gg-icon-flat {
      @extend %gg-link;
    }
    .gg-icon-flat {
      width: gg-size(button-height);
      height: gg-size(button-height);
      margin: gg-size(margin);
      line-height: gg-size(button-height);
    }
  }
}




.gg-card-big {
  @extend %gg-card-light;
  flex-direction: column;

  .gg-card-media {
    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-bottom: 56.25%; // 16:9
    }
  }
}




.gg-card-small {
  @extend %gg-card-light;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  .gg-card-media {
    order: 2;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc((100% - #{gg-size(padding)}) / 3);
    padding-bottom: calc((100% - #{gg-size(padding)}) / 3); // 1:1
    margin-top: gg-size(padding);
    margin-right: gg-size(padding);
    margin-bottom: gg-size(padding);
  }

  .gg-card-content {
    order: 1;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: calc(((100% - #{gg-size(padding)}) / 3) * 2);
  }

  .gg-card-headline {
    max-width: 100%;
  }

  /*.gg-card-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/

  .gg-card-actions {
    width: 100%;
    order: 3;
  }
}



.gg-card-image {
  @extend %gg-card;
  position: relative;

  @include gg-breakpoint(base) {
    padding-bottom: calc(100% - #{gg-size(padding)});
  }
  @include gg-breakpoint(xsmall) {
    padding-bottom: calc(50% - #{gg-size(padding)});
  }
  @include gg-breakpoint(small) {
    padding-bottom: calc(33.333% - #{gg-size(padding)});
  }

  .gg-card-media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .gg-card-content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: gg-size(padding);
    background-color: rgba(gg-color(black), 0.5);
  }

  .gg-card-headline {
    padding-right: gg-size(padding);
    padding-left: gg-size(padding);
    padding-bottom: gg-size(margin);
    .gg-card-title {
      color: $gg-color-text-light;
      .gg-card-payoff {
        color: $gg-color-muted-light;
      }
    }
    .gg-card-subtitle {
      color: $gg-color-secondary-text-light;
    }
  }

  .gg-card-actions {
    .gg-button-flat-light,
    .gg-icon-flat-light {
      color: $gg-color-text-light;
      &:hover {
        color: $gg-color-text-light;
      }
      &:active, &:focus {
        color: $gg-color-text-light;
      }
    }
    .gg-icon-flat-light {
      width: gg-size(button-height);
      height: gg-size(button-height);
      margin: gg-size(margin);
      line-height: gg-size(button-height);
    }
  }
}
