/**
 * .gg-header
 * .gg-appbar
 * .gg-appbar-menu
 * .gg-searchbar
 * .gg-searchbar-icon
 * .gg-searchbar-cancel
 */




.gg-header {
  position: fixed;
  top: gg-size(header-hidden-offset);
  left: 0;
  width: 100%;
  height: gg-size(header-height-portrait);
  z-index: gg-z(raised);
  margin: 0;

  @extend %gg-font-title;

  @include gg-transition('top');

  &.is-visible {
    top: 0;
  }

  .admin-bar & {
    @media screen and (min-width: 600px) {
      top: gg-size(header-hidden-offset) + gg-size(wp-admin-bar-device);
      &.is-visible {
        top: gg-size(wp-admin-bar-device);
      }
    }
    @media screen and (min-width: 783px) {
      top: gg-size(header-hidden-offset) + gg-size(wp-admin-bar-desktop);
      &.is-visible {
        top: gg-size(wp-admin-bar-desktop);
      }
    }
  }
}




.gg-appbar,
.gg-searchbar {
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 2.4rem;
}


.gg-appbar {
  display: flex;
  background-color: $gg-color-primary;
  @extend %gg-shadow-low;
  color: $gg-color-text-light;
  @include gg-transition('padding-left');

  h1 {
    flex-grow: 1;
    height: 24px;
    margin: gg-size(padding);

    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}


.gg-searchbar {
  display: flex;
  visibility: hidden;
  opacity: 0;
  background-color: $gg-color-body-background;
  color: $gg-color-muted;
  font-weight: 400;

  @include gg-transition('visibility, opacity');
  transition-delay: 0s;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  form {
    flex-grow: 1;
    height: 24px;
    margin: gg-size(padding);

    input {
      display: block;
      width: 100%;
      height: 24px;
      padding: 0;
      border: none;
      outline: 0;
      color: $gg-color-text;
      font-size: 1.8rem; // To avoid long glyphs being cropped
      line-height: 2.4rem;
      &::placeholder {
        color: $gg-color-muted;
      }
    }
  }

  .gg-searchbar-cancel {
    visibility: hidden;
    &.is-visible {
      visibility: visible;
    }
  }
}




.gg-appbar-icon,
.gg-searchbar-icon {
  @extend %gg-icon;
  flex-shrink: 0;
}


.gg-appbar-icon {
  color: $gg-color-text-light;
  &:hover, &:active, &:visited {
    color: $gg-color-text-light;
  }
}


.gg-searchbar-icon {
  color: $gg-color-muted;
  &:hover, &:active, &:visited {
    color: $gg-color-muted;
  }
}




.gg-appbar-menu {
  display: flex;
  position: absolute;
  top: gg-size(padding) / 4;
  right: gg-size(padding) / 4;
  width: 200px;
  z-index: gg-z(raised);
  visibility: hidden;
  opacity: 0;
  background: $gg-color-body-background;
  @extend %gg-shadow-low;

  @include gg-transition('visibility, opacity, padding-left');

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  @include gg-menu-list();
}




@include gg-breakpoint(medium) {
  .gg-appbar,
  .gg-searchbar {
    padding-left: gg-size(drawer-width);

    .gg-drawer-toggle {
      display: none;
    }
  }
}
