%gg-icon {
  @extend .fa;
  display: inline-block;
  width: gg-size('icon-width');
  height: gg-size('icon-width');
  margin: $gg-size-padding / 4;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
  line-height: gg-size('icon-width');
  text-align: center;
  cursor: pointer;
  @include gg-transition('background-color');
}

.gg-icon-flat,
.gg-icon-flat-light {
  @extend %gg-icon;
  
  &:hover {
    background-color: fade('md-gray-500', 0.2);
  }
}




.gg-drawer-toggle {
  @extend .fa-bars;
}

.gg-appbar .gg-searchbar-toggle {
  @extend .fa-search;
}

.gg-searchbar .gg-searchbar-toggle {
  @extend .fa-arrow-left;
}

.gg-searchbar-cancel {
  @extend .fa-times;
}

.gg-appbar-menu-toggle {
  @extend .fa-share;
}

.gg-icon-comments {
  @extend .fa;
  @extend .fa-gavel;
}

.gg-icon-tags {
  @extend .fa-tags;
}




.gg-icon-facebook {
  @extend .fa;
  @extend .fa-facebook-official;
  @extend .fa-lg;
  color: #3b5998;
}

.gg-icon-twitter {
  @extend .fa;
  @extend .fa-twitter;
  @extend .fa-lg;
  color: #55acee;
}

.gg-icon-google-plus {
  @extend .fa;
  @extend .fa-google-plus;
  @extend .fa-lg;
  color: #dd4b39;
}

.gg-icon-steam {
  @extend .fa;
  @extend .fa-steam;
  @extend .fa-lg;
  color: #000000;
}
