/**
 * .gg-layout
 */




.gg-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-left: 0;
  -webkit-overflow-scrolling: touch;

  @include gg-transition('padding-left');

  @include gg-breakpoint(medium) {
    padding-left: gg-size(drawer-width);
  }

  .admin-bar & {
    @media screen and (max-width: 600px) {
      margin-top: - gg-size(wp-admin-bar-device);
    }
  }
}
