/**
 * .gg-layout
 */




.gg-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;

  @include gg-breakpoint(medium) {
    padding-left: gg-size(drawer-width);
  }
}
