/**
 * .gg-obfuscator
 * body.is-obfuscated
 */




.gg-obfuscator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: gg-z(obfuscator);
  visibility: hidden;

  background-color: transparent;

  @include gg-transition('visibility, background-color');

  &.is-visible {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
  }

}



body.is-obfuscated {
  position: fixed;
  width: 100%;
}
